# Pandas DataFrame Basic

In [2]:
import pandas as pd
result = {
    'name' : ['vraj','nish','prit','mehul'],
    'maths' : [87,77,76,34],
    'science' : [98,76,56,77],
    'computer' : [98,76,55,90]
}
df = pd.DataFrame(result)
df

    name  maths  science  computer
0   vraj     87       98        98
1   nish     77       76        76
2   prit     76       56        55
3  mehul     34       77        90

In [54]:
import pandas as pd
weather_data = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature' : [32,33,34,28,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           33          7  Sunny
2  1/3/2017           34          2   Snow
3  1/4/2017           28          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [55]:
rows , columns = df.shape

In [56]:
columns

4

In [57]:
rows

6

In [58]:
df.head() # it will print only initial rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           33          7  Sunny
2  1/3/2017           34          2   Snow
3  1/4/2017           28          7   Snow
4  1/5/2017           32          4   Rain

In [59]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           33          7  Sunny
2  1/3/2017           34          2   Snow

In [60]:
df.tail(2) #print last rows

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [61]:
df[2:5] #slicing can be done as similar to list

        day  temperature  windspeed event
2  1/3/2017           34          2  Snow
3  1/4/2017           28          7  Snow
4  1/5/2017           32          4  Rain

In [62]:
df[:] #print all the values
# or only df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           33          7  Sunny
2  1/3/2017           34          2   Snow
3  1/4/2017           28          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [63]:
# list of columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [64]:
#print individual columns
#df.windspeed
df.day  # Or df['day']
#df['temperature']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [65]:
#print only requried columns
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           33
2   Snow  1/3/2017           34
3   Snow  1/4/2017           28
4   Rain  1/5/2017           32
5  Sunny  1/6/2017           31

# Operations on dataframe

In [66]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           33          7  Sunny
2  1/3/2017           34          2   Snow
3  1/4/2017           28          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [67]:
df['temperature'].max()

34

In [68]:
df['temperature'].min()

28

In [70]:
# To Print statistics of all data
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     31.666667   4.666667
std       2.065591   2.338090
min      28.000000   2.000000
25%      31.250000   2.500000
50%      32.000000   5.000000
75%      32.750000   6.750000
max      34.000000   7.000000

In [71]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           33          7  Sunny
2  1/3/2017           34          2   Snow
4  1/5/2017           32          4   Rain

In [75]:
df[df.temperature == df['temperature'].max()]
#it will print all data based on condition

        day  temperature  windspeed event
2  1/3/2017           34          2  Snow

In [80]:
#To print specific column 
df[['day','temperature']][df.temperature == df['temperature'].max()]

        day  temperature
2  1/3/2017           34

In [116]:
df.set_index('day',inplace=True)

In [117]:
df

          level_0  index  temperature  windspeed  event
day
1/1/2017        0      0           32          6   Rain
1/2/2017        1      1           33          7  Sunny
1/3/2017        2      2           34          2   Snow
1/4/2017        3      3           28          7   Snow
1/5/2017        4      4           32          4   Rain
1/6/2017        5      5           31          2  Sunny

In [118]:
df.loc['1/3/2017']

level_0           2
index             2
temperature      34
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [119]:
df.reset_index(inplace=True)

In [120]:
df

        day  level_0  index  temperature  windspeed  event
0  1/1/2017        0      0           32          6   Rain
1  1/2/2017        1      1           33          7  Sunny
2  1/3/2017        2      2           34          2   Snow
3  1/4/2017        3      3           28          7   Snow
4  1/5/2017        4      4           32          4   Rain
5  1/6/2017        5      5           31          2  Sunny

In [121]:
df.set_index('event',inplace=True)

In [122]:
df

            day  level_0  index  temperature  windspeed
event
Rain   1/1/2017        0      0           32          6
Sunny  1/2/2017        1      1           33          7
Snow   1/3/2017        2      2           34          2
Snow   1/4/2017        3      3           28          7
Rain   1/5/2017        4      4           32          4
Sunny  1/6/2017        5      5           31          2

In [123]:
df.loc['Snow']

            day  level_0  index  temperature  windspeed
event
Snow   1/3/2017        2      2           34          2
Snow   1/4/2017        3      3           28          7

# Differnt ways to create DataFrame

## 1. Using csv file

In [126]:
import pandas as pd
df = pd.read_csv("weather.csv")
df

   Unnamed: 0       day  temperature weather  windspeed
0           0  1/1/2017           32    Rain          6
1           1  1/2/2017           33    Snow          4
2           2  1/3/2017           28   Sunny          2
3           3  1/4/2017           30    Snow          8

## 2.Using excel file

In [127]:
df = pd.read_excel("weather.xlsx")

In [128]:
df

   Unnamed: 0        day  temperature weather  windspeed
0           0 2017-01-01           32    Rain          6
1           1 2017-01-02           33    Snow          4
2           2 2017-01-03           28   Sunny          2
3           3 2017-01-04           30    Snow          8

## 3. Using python Dictionary

In [131]:
weather_data = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature' : [32,33,34,28,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event' : ['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           33          7  Sunny
2  1/3/2017           34          2   Snow
3  1/4/2017           28          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

## 4.Using Tuple list of python

In [133]:
weather_data = {
   ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',33,7,'Sunny'),
    ('1/3/2017',34,2,'Snow'),
    ('1/4/2017',28,7,'Sunny')
}
df = pd.DataFrame(weather_data, columns = ['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/3/2017           34          2   Snow
1  1/4/2017           28          7  Sunny
2  1/2/2017           33          7  Sunny
3  1/1/2017           32          6   Rain

## 5.Using list of dictionary

In [137]:
weather_data = [
    {'day' : '1/1/2017', 'temperature' : 32, 'windspeed' : 2, 'event' : 'Snow'},
    {'day' : '1/2/2017', 'temperature' : 39, 'windspeed' : 8, 'event' : 'Sunny'},
    {'day' : '1/3/2017', 'temperature' : 28, 'windspeed' : 2, 'event' : 'Rain'}
]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          2   Snow
1  1/2/2017           39          8  Sunny
2  1/3/2017           28          2   Rain