## HOUSE PRICE PREDICTION

price = m * area + b

In [3]:
import pandas as pd
import numpy as numpy
import matplotlib.pyplot as plt 
from sklearn import linear_model

In [4]:
df = pd.read_csv("home_prices.csv")
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000